*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background: linear-gradient(#1f1d1d, #c7c7c7);
    background-repeat: no-repeat;
}
.imagem{
    display: flex;
    justify-content: center;
}

.imagem img{
    width: 250px;
    border-radius: 200px;
    margin-top: 30px;
}
.nome{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 600;
    color: #141414;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.icon, .email {
    height: 35px;
    width: 35px;
    border-radius: 30px;
    transition: all 0.3s ease-out;
    box-shadow: 0 5px 5px bla;
    cursor: pointer;
    margin: 3px;
    overflow: hidden;
}
.icon i, .email i{
    display: inline-block;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-size: 20px;
    border-radius: 30px;
    background-color: rgb(237, 237, 237);
    color: black; 
    cursor: pointer;
}
.icon span a{
    list-style: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, cursive;
    float: right;
    margin-right: 25px;
    color: #090909;
    line-height: 35px;
    font-size: 15px;
}
.nome-icon {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, cursive;
    margin-right: 40px;
    float: right;
    color: #090909;
    font-weight: 100;
    line-height: 35px;
    font-size: 17px;
}
.icon:hover {
    width: 125px;
    background-color: rgb(255, 254, 254);
    border-radius: 20px;
}
.redes-sociais{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.texto{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: 50px 30px;
    font-family: 'Victor Mono', monospace;
    font-size: 20px;
    text-align: justify;
    width: 700px;
    height: 200px;
    padding: 50px;
    border-radius: 24px;
    color: rgb(2, 2, 2);
    background: rgb(255, 255, 255);
    overflow: hidden;
    box-shadow: 0 3px 3px rgba(0,0,0,.1);
}
h2{
    text-align: 35px;
    text-align: center;
    color: rgb(2, 2, 2);
}
.sobre-mim{
    position: absolute;
    top: 30%; /* Move o topo do h2 para o centro vertical */
    transform: translate(0, -400%);
    display: flex;
    color: rgb(12, 12, 12);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-size: 25px;
    line-height: 20px;
}
.subtitulo{
    font-weight: 600;
    color: #1f1d1d;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 45px;
    margin-bottom: 15px;
}
.Linguagem{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.Linguagem img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 399px;
    border-radius: 20px;
    margin: 5px;
    box-shadow: 2px 2px 700px rgb(0,0,0,1);
}
.projetos{
    margin-top: 40px;
    flex-direction: column;
}
.item{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    border: 1.5px solid rgb(2, 2, 2);
    border-radius: 50px;
    width: 550px;
    height: 60px;
    font-size: 22px;
    background-color: white;
    box-shadow: 0 3px 7px black;
    
}
.item:hover{
    transition: 0.2s;
    background-color: rgb(186, 186, 186);
}
#movie{
    padding: 15px;
    margin: auto;
    display: none;
}
#movie.active{
    display: block;
}
.rodape p{
    color: black;
    font-size: 25px;
    justify-content: center;
    margin-top: 50px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* resolução 700px*/
@media (max-width:700px) {
    .imagem img {
        width: 150px;
        border-radius: 200px;
        margin-top: 25px;
    }
    .texto {
        width: 220px;
        height: 300px;
    }
    .Linguagem img {
       width: 150px;
    } 
    .subtitulo {
        font-size: 30px;
    }
    .item {
        width: 350px;
    }
    #movie {
        width: 350px;
    }
}
@media (max-width:500px){
    .imagem img {
        width: 200px;
        border-radius: 200px;
        margin-top: 25px;
    }
    .texto{
        width: 300px;
    }
    .Linguagem img {
        width: 205px;
    }
    .subtitulo{
        font-size: 25px;
    }
    .item {
        width: 250px;
    } 
}
/*Recurso css que renderiza o conteudo do site e adapte para diverças resoluções*/
